<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Category Page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
	<body>
		<div class="top"></div>
		<div class="container">
			<header th:text="${category.stateName}">
				<h1>Local Crags</h1>
			</header>
			
			<main>
				<div th:each="review : ${category.reviews}">
					<li><a th:href="|/reviews/${review.id}|" th:text="${review.cragName}"></a></li>
				
				<!-- <ul>
						<li>
							<address th:text="${review.location}"></address>
						</li>

						<li>
							<h2>Route Number</h2>
							<address th:text="${review.numberOfRoutes}"></address>
						</li>

						<li>
							<h2>Description</h2>
							<address th:text="${review.description}"></address>
						</li>
					</ul> -->
				
			</div>
			</main>
			<footer>
				<div class="footer-tags">
				<div class="home"><a href="/">HOME</a></div>
				<div class="states"><a href="/categories">STATES</a></div>
				<div class="reviews"><a href="/reviews">ALL REVIEWS</a></div>
			</div>
				<small>&copy; 2018</small>
			</footer>
	</div>
	<div class="bottom"></div>
</body>
</html>