<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reviews</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
</head>
<body>
	<div class="top"></div>
	<div class="container">
		<header>
			<h1>Reviews</h1>
		</header>
		<main>
			<div class="reviews-page">
				<nav>
					<ul>
						<li th:each="review : ${reviews}"><a th:href="|/reviews/${review.id}|" th:text="${review.cragName}">Review of:</a></li>
					</ul>
				</nav>
			</div>	
		</main>
	
		<footer>
			<div class="footer-tags">
				<div class="home"><a href="/">HOME</a></div>
				<div class="states"><a th:href="categories">STATES</a></div>
			</div>
			<small>&copy; 2018</small>
		</footer>
	</div>
	<div class="bottom"></div>
</body>
</html>